Library/
Temp/
Logs/
Assets/App/Pro/GameRes/Table/Protobin/*.meta
Assets/App/Pro/Lua/Generate/**/*.meta
Assets/App/Pro/Scripts/Generate/**/*.meta
Assets/App/Pro/Lua/LULib/**/*.meta
Assets/Plugins/Editor/
Assets/StreamingAssets/
ProjectSettings/VFXManager.asset
*.sln*
.idea/
obj/
..\\Log

AutoBuild
AssetBuild
AssetPublish
SimulatorDataPath
TestData
luaScript
obj
*.apk
*.csproj
*.sln
.vs
*.unitypackage
*.userprefs
*.pidb
*.pidb.meta
*.suo
*.user
*.unityproj
*.booproj
*.consulo
*.svd
*.stackdump
.vscode
.vsconfig
*.DS_store
AssetBundles
Dev.VC.db
Library
Temp
xcode

tools/autogen/__pycache__/
tools/autogen_output/
*.pyc

~PrivateTest/
~PrivateTest.meta
/Assets/App/Art/Effects/VX_Effect/bendi
/Assets/App/Art/Effects/VX_Effect/bendi.meta
/Assets/ADYFX
/Assets/ADYFX.meta
HybridCLRData/
Wwise/GeneratedSoundBanks/ResourceManifest_hash.txt
Assets/App/Pro/GameRes/UI/Atlas/
Assets/App/Pro/GameRes/UI/Atlas.meta
Assets/Work
Assets/Work.meta
UserSettings/

Wwise/.cache/
*.akd
*.validationcache
*.wsettings